<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        {{ .Style }}
    </style>
</head>
<body>
<h1>Documentation: {{.Filename}}</h1>

<aside>
    <h2>Index</h2>
    <h3>Services</h3>
    <ul>
        {{range .Services}}
        <li><a href="#{{.Name}}">{{.Name}}</a></li>
        {{end}}
    </ul>
    <h3>Messages</h3>
    <ul>
        {{range .Messages}}
        <li><a href="#{{.Name}}">{{.Name}}</a></li>
        {{end}}
    </ul>
    <h3>Enums</h3>
    <ul>
        {{range .Enums}}
        <li><a href="#{{.Name}}">{{.Name}}</a></li>
        {{end}}
    </ul>
</aside>

<main>
    <h2>Services</h2>
    <div class="element">
        <h3>Overview</h3>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            {{range .Services}}
            <tr>
                <td><a href="#{{.Name}}">{{.Name}}</a></td>
                <td>
                    <div class="description">
                        {{.Description}}
                    </div>
                </td>
            </tr>
            {{end}}
        </table>
    </div>

    {{range .Services}}
    <div class="element service">
        <h3>{{.Name}}</h3>
        <div class="description">{{.FullComment}}</div>
        <table>
            <tr>
                <th>Method</th>
                <th>Description</th>
            </tr>
            {{range .Methods}}
            <tr>
                <td><strong>{{.Name}}</strong>&nbsp;(&nbsp;<a href="#{{.Input}}">{{.Input}}</a>&nbsp;) <a
                        href="#{{.Output}}">{{.Output}}</a></td>
                <td>
                    <div class="description">
                        {{.Description}}
                    </div>
                </td>
            </tr>
            {{end}}
        </table>
    </div>
    {{end}}

    <h2>Messages</h2>

    <div class="element">
        <h3>Overview</h3>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            {{range .Messages}}
            <tr>
                <td><a href="#{{.Name}}">{{.Name}}</a></td>
                <td>
                    <div class="description">
                        {{.Description}}
                    </div>
                </td>
            </tr>
            {{end}}
        </table>
    </div>

    <hr>

    {{range .Messages}}
    <a id="{{.Name}}"></a>
    <div class="element message">
        <h3>{{.Name}}</h3>
        <div class="description">{{.FullComment}}</div>

        <table>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
            {{range .Fields}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.FieldNumber}}</td>
                <td>
                    {{ if .IsScalar }}
                        {{.Type}}{{ if .IsRepeated }}[]{{ end }}
                    {{ else }}
                        <a href="#{{.Type}}">{{.Type}}{{ if .IsRepeated }}[]{{ end }}</a>
                    {{ end }}
                </td>
                <td>
                    <div class="description">
                        {{.Description}}
                    </div>
                </td>
            </tr>
            {{end}}
        </table>
    </div>
    {{end}}

    <h2>Enums</h2>
    {{range .Enums}}
    <a id="{{.Name}}"></a>
    <div class="element enum">
        <h3>{{.Name}}</h3>
        <div class="description">{{.FullComment}}</div>
        <table>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Description</th>
            </tr>
            {{range .Fields}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.FieldNumber}}</td>
                <td>{{.Description}}</td>
            </tr>
            {{end}}
        </table>
    </div>
    {{end}}
</main>
</body>
</html>